body {background-image:url("Bilder/TURTLE.png");}
a:visited {color: #660099;}
a:active {
    background-color:red;
  }
a:hover {
	  color: red;
	  font-style: italic;
	}
  
hr {color:red;}

p {border-style: dotted;
   border-color: red;}
   
table {color:  teal;
     border-style: solid;
     border-color: purple
     }